/* Applied Border To Body */
/*body, .headcontainer, .logoitems, .navitems, .column {
  border-style: solid;
}
*/

/* Header Style */
.headcontainer {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid black;
}

.logoitems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoitems #logotitle {
  color: MediumAquamarine;
  margin: 5px;
  padding: 5px;
}

.navitems a {
  color: Black;
  margin: 5px;
  padding: 5px;
}

/* Main Style */


/* Footer Style */
