/* Applied Border To Body */
body, .headcontainer, .logoitems, .navitems, .column {
  border-style: solid;
}

/* Header Style */
.headcontainer {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px;
  padding: 5px;
}

.logoitems span {
  color: MediumAquamarine;
  margin: 5px;
  padding: 5px;
}

.navitems a {
  color: Black;
  margin: 5px;
  padding: 5px;
}

/* Main Style */
.column {
    display: flex;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* Footer Style */
