/* Header Style */
.headcontainer {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 5px;
  padding: 5px;
}


.logoitems span {
  color: MediumAquamarine;
  margin: 5px;
  padding: 5px;
  line-height: .5;
}

.navitems a {
  color: Black;
  margin: 5px;
  padding: 5px;
}

/* Main Style */


/* Footer Style */
